::deep .content-container {
    margin-top: -10px;
    padding-bottom: 10px 20px;
}

::deep .form-container {
    max-width: 1000px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

::deep .form-group {
    margin-bottom: 6px;
}

    ::deep .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    ::deep .form-group input,
    ::deep .form-group select,
    ::deep .form-group textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ced4da;
        border-radius: 0.5rem;
        color: #B1BCC4;
    }

    ::deep .form-group .error {
        color: #dc3545;
        font-size: 14px;
        margin-top: 5px;
    }

::deep .account-button,
::deep .category-button,
::deep .submit-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 1px;
    font-size: 16px;
    color: #ffffff;
    background-color: #62AD41;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
}

    ::deep .account-button:hover,
    ::deep .category-button:hover,
    ::deep .submit-button:hover {
        background-color: #417828;
    }

::deep .submit-button {
    width: 100%;
    margin-top: 10px;
}

::deep .selected-button {
    background-color: #417828;
    color: #ffffff;
}



