.table-wrapper {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #62AD41 #ffffff; /* For Firefox */
    border: 1px solid #62AD41;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    .table-wrapper::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Optional: just make scrollbar invisible */
    }

/* Hide scrollbar for IE, Edge and Firefox */
.table-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    /* Style the scrollbar for Chrome, Safari and Opera */
    .table-wrapper::-webkit-scrollbar {
        width: 8px;
    }

    .table-wrapper::-webkit-scrollbar-track {
        background: #ffffff;
    }

    .table-wrapper::-webkit-scrollbar-thumb {
        background-color: #62AD41;
        border-radius: 0.25rem;
        border: 2px solid #ffffff;
    }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
    color: #62AD41;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(98, 173, 65, 0.10);
    color: #62AD41;
}

.table-striped thead {
    position: sticky;
    margin: 0;
    color: #ffffff;
    font-weight: bold; /* Bold the section titles */
    background-color: var(--primary-color);
}

.planned-column input {
    border: 1px solid #ccc; /* Subtle border */
    background-color: rgba(255, 255, 255, 0.3); /* Light background color */
    color: inherit; /* Ensure the text color matches the surrounding text */
    outline: none; /* Remove the default focus outline */
    cursor: text; /* Change cursor to text */
    padding: 5px; /* Add some padding for better usability */
    border-radius: 4px; /* Slightly rounded corners */
}

    .planned-column input:focus {
        border-color: #62AD41; /* Change border color on focus */
        background-color: rgba(255, 255, 255, 1); /* Full white background on focus */
        color: #62AD41;
    }


/* Ensure table rows have a white background */
.table {
    top: 0;
    z-index: 1;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    color: #417828;
    overflow-x: auto;
}

.budget-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    color: #417828;
}

.expense-distribution {
    padding: 1rem;
    color: #417828;
}

.carousel-item {
    display: flex; /* Make carousel items flex containers */
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    -moz-column-gap: 20px;
    -ms-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    border-style: none;
}

.row-direction {
    flex-direction: row;
}

.column-direction {
    flex-direction: column;
}

.flex-item {
    flex: 1;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    border-style: none;
    background-color: transparent;
}

::deep .chart-container {
    width: 100%;
    height: 100%;
    position: relative; /* Keep position: relative; if you need it */
    border-radius: 20px;
    background-color: white;
    display: flex; /* **Add display: flex; to make it a flex container** */
    justify-content: center; /* **Horizontal centering** */
    align-items: center; /* **Vertical centering** */
}

::deep canvas {
    width: 50% !important;
    height: 50% !important;
}

.stats-container {
    padding: 20px;
    background-color: transparent;
    overflow: visible;
}

.stats-list {
    list-style: none; /* Remove default list bullets */
    padding-left: 0; /* Remove default left padding for ul */
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

    .stats-list li {
        background-color: white;
        padding: 10px;
        margin: 10px; /* Spacing between list items */
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

        .stats-list li .stat-label {
            text-align: left;
            align-content: center;
            color: #718EBF;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .stats-list li .stat-value {
            font-size: 2em; /* Increase value font size */
            font-weight: bolder; /* Make values normal weight (or lighter if desired) */
            color: #232323; /* Example value color - adjust as needed */
            text-align: left;
            align-content: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .stats-list li .stat-icon {
            width: 70px; /* Set icon width */
            height: 70px; /* Set icon height */
            margin: 10px;
        }
