html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars from appearing */
    box-sizing: border-box;
}

.main-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #417828;
    font-family: 'Inter', sans-serif;
}

.option {
    color: gray;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: #D0E8C5;
    border-bottom: 0.0625rem solid #d4e8b6;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.sort-button {
    padding: 0.625rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    font-size: 0.875rem;
    cursor: pointer;
    background-color: #fff;
}

.search-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: relative; /* Added to position the filter dropdown relative to this container */
}

.sort-container, .new-transaction {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.sort-container select, .search-container input, .new-transaction {
    max-width: 100%; /* Ensure elements don't overflow */
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar {
    padding: 0.625rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem 0 0 0.625rem;
    width: 15.625rem;
    font-size: 0.875rem;
}

.filter-button {
    background-color: #62ad41;
    color: white;
    border: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0 0.625rem 0.625rem 0;
    cursor: pointer;
    font-size: 0.875rem;
}

.filter-button:hover {
    background-color: #519a37;
}

.amount-filter {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem; /* Add some space between the inputs */
}

    .amount-filter div {
        flex: 1; /* Make each input take equal space */
    }

.new-transaction {
    background-color: #62ad41;
    color: white;
    border: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 0.875rem;
}

.new-transaction:hover {
    background-color: #519a37;
}

.calendar-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Main Content Section */
.main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1; /* Take up remaining space */
    padding: 1.25rem;
    box-sizing: border-box;
    height: calc(100vh - 5rem); /* Adjust height to fit within viewport minus header */
}

/* Calendar Section */
.calendar-container {
    flex: 0 0 66.66%; /* 2/3 of the screen */
    margin-right: 1.25rem; /* 20px */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.625rem; /* 10px */
    padding: 1.25rem; /* 20px */
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* 0px 4px 6px */
    overflow: hidden; /* Prevent overflow */
    height: 100%; /* Ensure the calendar takes up the full height */
    display: flex; /* Added */
    flex-direction: column; /* Added */
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625rem; /* 10px */
}

    .calendar-header select,
    .calendar-header button {
        padding: 0.625rem; /* 10px */
        border: 1px solid #ddd;
        border-radius: 0.625rem; /* 10px */
        font-size: 1rem; /* 16px */
        margin: 0 0.3125rem; /* 5px */
        cursor: pointer;
        background-color: #fff;
        height: 2.5rem; /* 40px */
    }

    .calendar-header button {
        background-color: #ccc;
        color: #444;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .calendar-header button:hover {
            background-color: #aaa;
        }

.calendar {
    display: grid; /* Changed from flex to grid */
    grid-template-columns: repeat(7, 1fr); /* Added */
    grid-template-rows: repeat(6, 1fr); /* Added */
    width: 100%;
    height: 100%;
}

.day-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 0.625rem; /* 10px */
    margin: 0.125rem; /* 2px */
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 0px 2px 4px */
    position: relative; /* Required for the aspect ratio trick */
}

    .day-box .day {
        position: absolute;
        top: 0.625rem; /* 10px */
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold; /* Optional: make the date bold */
    }

    .day-box.selected {
        background-color: #ffe194; /* Gold color for selected date */
    }

    .day-box.greyed-out {
        background-color: #f0f0f0;
        color: #aaa;
    }

.transaction-dots {
    display: flex;
    justify-content: center; /* Center dots horizontally */
    align-items: center; /* Center dots vertically */
    position: absolute; /* Position relative to the day-box */
    bottom: 2rem; /* Adjusted to ensure visibility */
    flex-wrap: wrap; /* Allow dots to wrap to the next line */
    max-width: 100%; /* Ensure dots don't overflow the day-box */
}

.transaction-dot-container {
    display: flex;
    align-items: center;
    margin: 0.125rem; /* 2px on each side */
}

.transaction-dot {
    width: 0.625rem; /* 10px */
    height: 0.625rem; /* 10px */
    border-radius: 50%;
    background-color: #62ad41; /* Ensure the dots have a visible color */
}

.transaction-description {
    display: none; /* Hide the description */
}

/* Transaction Details Section */
.transaction-details {
    flex: 1;
    overflow-y: auto; /* Add scroll if content overflows */
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    padding: 1.25rem;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    height: 100%; /* Ensure the transaction details take up the full height */
}

.transaction-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}

.transaction-details-header h3 {
    font-size: 1.125rem;
    color: #417828;
    margin: 0;
    font-weight: bold;
}

.transaction-details-header .transaction-date {
    font-weight: bold;
    margin-top: 0.3125rem;
}

.transaction-details-header select {
    padding: 0.625rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    height: 2.5rem; /* Ensure dropdown is the same height as others */
}

.transaction-item {
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    background-color: #f9f9f9;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    position: relative; /* Add this to position the edit button */
}

.transaction-item:hover {
    background-color: rgba(98, 173, 65, 0.3); /* Darker background with 30% transparency */
}

    .transaction-item.selected-transaction {
        background-color: #ffe194; /* Highlight color for selected date transactions */
    }

.transaction-item h4 {
    margin: 0;
    color: #6C63FF;
    font-size: 1rem;
    font-weight: bold;
}

.transaction-item p {
    margin: 0.125rem 0;
    color: #555;
}

.transaction-item .description {
    color: inherit; /* Inherit color from parent */
}

.transaction-item .positive-amount {
    color: green;
}

.transaction-item .negative-amount {
    color: red;
}

.transaction-item button {
    background-color: #62ad41; /* Green color */
    color: white;
    border: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 0.875rem;
    position: absolute; /* Position the button absolutely */
    right: 0.625rem; /* Align it to the right */
    top: 50%; /* Center it vertically */
    transform: translateY(-50%); /* Adjust for perfect centering */
}

.transaction-item button:hover {
    background-color: #519a37; /* Darker green on hover */
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.625rem;
    width: 18.75rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

/* Form Group */
.form-group {
    margin-bottom: 0.625rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.3125rem;
    color: #444;
    font-size: 0.875rem;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.625rem;
    box-sizing: border-box;
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    font-size: 0.875rem;
}

/* Modal Buttons */
.modal-content .button-group {
    display: flex;
    justify-content: space-between;
}

.modal-content .button-group button {
    flex: 1;
    margin: 0 0.3125rem;
}

.modal-content .button-group button.delete {
    order: 1;
    margin-right: auto;
}

.modal-content .button-group button.cancel {
    order: 2;
}

.modal-content .button-group button.save,
.modal-content .button-group button.add {
    order: 3;
    margin-left: auto;
}

.modal-content .form-group button {
    width: 100%;
    padding: 0.625rem;
    border: none;
    border-radius: 0.625rem;
    font-size: 0.875rem;
    cursor: pointer;
    margin-bottom: 0.625rem;
}

.modal-content .form-group button.save,
.modal-content .form-group button.add {
    background-color: #62ad41;
    color: white;
}

.modal-content .form-group button.save:hover,
.modal-content .form-group button.add:hover {
    background-color: #519a37;
}

.modal-content .form-group button.cancel {
    background-color: #ccc;
    color: white;
}

.modal-content .form-group button.cancel:hover {
    background-color: #aaa;
}

.modal-content .form-group button.delete {
    background-color: #db4437;
    color: white;
}

.modal-content .form-group button.delete:hover {
    background-color: #c33c2f;
}

/* Filter Modal Buttons */
.filter-dropdown .button-group {
    display: flex;
    justify-content: flex-end;
}

.filter-dropdown .button-group button {
    flex: 1;
    margin: 0 0.3125rem;
}

.filter-dropdown .button-group button.cancel {
    order: 1;
}

.filter-dropdown .button-group button.apply {
    order: 2;
    margin-left: auto;
}

.filter-dropdown .button-group button {
    width: 100%;
    padding: 0.625rem;
    border: none;
    border-radius: 0.625rem;
    font-size: 0.875rem;
    cursor: pointer;
    margin-bottom: 0.625rem;
}

.filter-dropdown .button-group button.apply {
    background-color: #62ad41;
    color: white;
}

.filter-dropdown .button-group button.apply:hover {
    background-color: #519a37;
}

.filter-dropdown .button-group button.cancel {
    background-color: #ccc;
    color: white;
}

.filter-dropdown .button-group button.cancel:hover {
    background-color: #aaa;
}

.filter-dropdown {
    position: absolute;
    top: 100%; /* Position below the search container */
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1.25rem; /* 20px */
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* 0px 4px 6px */
    z-index: 1000; /* Ensure the dropdown is on top */
    width: 100%; /* Ensure the dropdown takes the full width of the search container */
}
