.dashboard-container {
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    position: center;
    align-items: center;
    align-self: center;
    align-content: center
}

.dashboard-header {
    align-self: flex-start;
    margin-bottom: 20px;
}

.section-divider {
    border: none;
    height: .1rem;
    background: var(--primary-color);
    margin: 20px 0; /* Adjust the spacing as needed */
}


.card-title {
    text-align: left;
}

canvas {
    max-width: 100%;
    height: auto;
}

.card, .card-full {
    flex: 0 0 50%;
    border: .1rem solid var(--primary-color);
    border-radius: 1rem;
    gap: 1.5rem;
    min-width: 450px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #2d3436;
    font-size: 24px;
    margin-bottom: 20px;
    column-gap: 1rem;
    transition: transform 0.5s ease-in-out;
    width: 100%
}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(40, 167, 69, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

    .carousel-button:hover {
        background-color: rgba(33, 136, 56, 0.8);
    }

    .carousel-button.left {
        left: 10px;
    }

    .carousel-button.right {
        right: 10px;
    }

.weekly-activity {
    margin-top: 20px;
    width: 100%;
}

    .weekly-activity .card {
        width: 100%;
        height: 300px;
        padding: 20px;
    }

.manage-saving-goals-header {
    color: green;
    text-decoration: underline;
    cursor: pointer; /* Make the header clickable */
}

    .manage-saving-goals-header:hover {
        color: darkgreen; /* Darker green on hover */
    }


.transactions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.transaction-container {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 1rem;
}

.transaction-item {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    list-style: none; /* Remove default list styling */
    border-bottom: 1px solid #eee; /* Add a bottom border for separation */
    padding: .5rem;
    margin: 0;
}


    .transaction-item:last-child {
        border-bottom: none; /* Remove border from the last item */
    }

    .transaction-item .flex-item {
        padding: 5px; /* Add padding for spacing within items */
        font-size: 16px; /* Adjust font size as needed */
    }

.icon-image {
    flex: 0 0 25px; /* Prevent icon from growing and set a fixed width */
    text-align: center; /* Center the icon */
}

    .icon-image img {
        max-width: 50px; /* Adjust image size */
        max-height: 50px;
    }

.transaction-description {
    flex: 2; /* Make the description take more space */
    text-align: left;
    margin-left: 5px;
}
.transaction-title {
    font-weight: bold; /* Make the description bold */
}

.transaction-date {
    flex: 1;
    text-align: left; /* Align amount to the right */
    color: gray;
    font-weight: lighter;
}

.transaction-amount {
    text-align: right; /* Align date to the right */
    align-content: center;
}
.negative {
    color: #dc3545;
}

.positive {
    color: #28a745;
}