@page "/"

@* This is the Home/Banner page *@
<div class="home-container">
    <div class="top-right-button">
        <button @onclick="NavigateToLogin" class="cta-button">Join us</button>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }
}