@page "/receipt-management-page"
@inherits LayoutComponentBase

@code {
    [CascadingParameter] private Action<string> SetPageTitle { get; set; }

    protected override void OnInitialized()
    {
        SetPageTitle("Receipt Management");
    }
}

<p>This page is to be implemented.</p>