@page "/save-for-retirement"
@using Jamper_Financial.Shared.Services
@using Jamper_Financial.Shared.Data
@inject NavigationManager Navigation
@inject GoalState GoalState
@inject DatabaseHelperFactory DatabaseHelper

<style>
    .back-button {
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        color: #ffffff;
        background-color: #6c757d;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
    }

        .back-button:hover {
            background-color: #5a6268;
        }
</style>

<div class="header-container">
    <h3 class="header">Save for Retirement</h3>
</div>
<div class="content-container">
    <div class="form-container">
        <div class="form-group">
            <label for="targetAmount">Target Amount</label>
            <input type="number" id="targetAmount" step="0.01" @bind="targetAmount" />
            @if (targetAmount <= 0)
            {
                <span class="error">Target Amount must be greater than zero!</span>
            }
        </div>
        <div class="form-group">
            <label for="currentSavings">Current Savings</label>
            <input type="number" id="currentSavings" step="0.01" @bind="currentSavings" />
        </div>
        <div class="form-group">
            <label for="monthlyContribution">Monthly Contribution</label>
            <input type="number" id="monthlyContribution" step="0.01" @bind="monthlyContribution" />
        </div>
        <div class="form-group">
            <label for="retirementDate">Goal Retirement Date</label>
            <input type="date" id="retirementDate" @bind="retirementDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </div>
        <button class="submit-button" @onclick="SubmitRetirementGoal">Submit</button>
        <button class="back-button" @onclick="GoBack">Back</button>
    </div>
</div>

@code {
    private decimal targetAmount;
    private decimal currentSavings;
    private decimal monthlyContribution;
    private DateTime retirementDate = DateTime.Today;

    private void SubmitRetirementGoal()
    {
        if (targetAmount > 0)
        {
            var retirementGoal = new Goal
                {
                    Amount = targetAmount,
                    StartDate = DateTime.Now,
                    EndDate = retirementDate,
                    Description = $"Current Savings: {currentSavings}, Monthly Contribution: {monthlyContribution}, ",
                    Category = "Retirement",
                    GoalType = "Savings",
                    Frequency = "Monthly",
                    IsRetirementGoal = true
                };

            GoalState.AddGoal(retirementGoal);
            DatabaseHelper.InsertGoal(retirementGoal);
            Navigation.NavigateTo("/view-goals-page");
        }
    }
    private void GoBack()
    {
        Navigation.NavigateTo("/saving-goals-page");
    }
}
