@page "/settings"
@using Jamper_Financial.Shared.Data
@using Jamper_Financial.Shared.Services
@inject NavigationManager Navigation
@inject LoginStateService LoginState


<div class="settings-container">
    <h1>Settings</h1>

    <div class="settings-options">
        <div class="option">
            <h2>Account Management</h2>

            <!-- Button to navigate to the correct delete account page -->
            <button class="btn btn-danger" @onclick="NavigateToDeleteAccount">
                Delete Account
            </button>
        </div>

        <!-- This will be our settings page so when when Add more options, so just put them here -->
        <div class="option">
        </div>
    </div>
</div>

@code {
    private void NavigateToDeleteAccount()
    {
        if (LoginState.IsGoogleLogin)
        {
            Navigation.NavigateTo("/delete-account-google");
        }
        else
        {
            Navigation.NavigateTo("/delete-account");
        }
    }
}