@page "/settings"
@using Jamper_Financial.Shared.Data

<div class="settings-container">
    <h1>Settings</h1>

    <div class="settings-options">
        <div class="option">
            <h2>Account Management</h2>

            <!-- Link to the delete account page -->
            <NavLink class="btn btn-danger" href="/delete-account">
                Delete Account
            </NavLink>
        </div>

        <!-- This will be our settings page so when when Add more options, so just put them here -->
        <div class="option">
        </div>
    </div>
</div>

@code {

}