﻿html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars from appearing */
    box-sizing: border-box;
}

.transactions-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 20px;
    color: #000; /* Use content color */
    overflow: hidden; /* Prevent scrollbars from appearing on the page */
}

.expenses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.expenses-section {
    flex: 0 0 33%; /* Take up 33% of the height */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.charts-container {
    height: 100%;
    display: flex;
    flex-direction: row; /* Display charts in a row */
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping if needed */
}

.chart {
    flex: 1;
    margin-right: 10px;
}

    .chart:last-child {
        margin-right: 0;
    }

.chart-placeholder {
    background: #fff;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.section-title {
    margin: 0;
    color: #417828;
    font-weight: bold; /* Bold the section titles */
}

.left-align {
    align-self: flex-start;
}

.transactions-section {
    flex: 1; /* Take up the remaining 67% of the height */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent scrollbars from appearing on the section */
}

.transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

    .transactions-header h3 {
        margin: 0;
        color: #417828;
        font-weight: bold; /* Bold the section titles */
    }

    .transactions-header .filter-button {
        background-color: #62ad41;
        color: white;
        border: none;
        padding: 0.625rem 0.9375rem;
        border-radius: 0.625rem;
        cursor: pointer;
        font-size: 0.875rem;
        margin-left: 10px;
    }

        .transactions-header .filter-button:hover {
            background-color: #519a37;
        }

.title-filter {
    display: flex;
    position: relative;
}

.transactions-table {
    flex: 1;
    overflow-y: auto; /* Add scroll if content overflows */
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    height: 100%; /* Ensure the transaction details take up the full height */
    width: 100%;
}

    .transactions-table table {
        width: 100%;
        background: #fff;
        color: #000;
        border-radius: 10px;
        border-collapse: collapse; /* Ensure borders are collapsed */
    }

    .transactions-table th, .transactions-table td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd; /* Add border to table cells */
    }

    .transactions-table th {
        background-color: #62ad41; /* Main green color for headers */
        color: white;
    }

    .transactions-table tr {
        border-radius: 10px; /* Round the corners of the transactions */
    }

.transaction-item:hover {
    background-color: rgba(98, 173, 65, 0.3); /* Darker background with 30% transparency */
}

.transaction-item.selected-transaction {
    background-color: #ffe194; /* Highlight color for selected date transactions */
}

.empty-row {
    height: 60px; /* Adjust this value to match the height of transaction items */
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.view-details {
    background: #62ad41; /* Green color */
    color: white;
    border: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 0.875rem;
}

    .view-details:hover {
        background-color: #519a37; /* Darker green on hover */
    }

.add-transaction {
    background-color: #62ad41;
    color: white;
    border: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 0.875rem;
}

    .add-transaction:hover {
        background-color: #519a37;
    }

.delete, .cancel, .save, .add {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.delete {
    background-color: #dc3545;
    color: white;
}

.cancel {
    background-color: #6c757d;
    color: white;
}

.save, .add {
    background-color: #28a745;
    color: white;
}

.manage-categories-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 0.875rem;
    margin-right: 10px;
}

    .manage-categories-btn:hover {
        background-color: #e0a800;
    }

.pagination {
    display: flex;
    justify-content: flex-end; /* Align pagination to the right */
    align-items: center;
    margin-top: 20px;
}

    .pagination button {
        background-color: #62ad41; /* Green color */
        color: white;
        border: none;
        padding: 0.625rem 1.1rem;
        border-radius: 0.625rem;
        cursor: pointer;
        font-size: 0.875rem;
        margin: 0 5px;
    }

        .pagination button:disabled {
            background-color: #ccc; /* Gray color for disabled state */
            cursor: not-allowed;
        }

        .pagination button:hover:not(:disabled) {
            background-color: #519a37; /* Darker green on hover */
        }
