body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.verification-container {
    display: flex;
    height: 90vh;
}

.verification-left {
    flex: 1;
    background-color: #f5f5f5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.verification-form {
    background-color: #D0E8C5;
    border: 1px solid #d4e8b6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #62ad41;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #444;
    font-size: 14px;
    text-align: center;
}

label {
    color: #444;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f5f5f5;
    color: #888;
    pointer-events: none; /* Prevent editing */
}

.verification-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.verify-button {
    background-color: #62ad41;
    color: white;
    border: none;
}

    .verify-button:hover {
        background-color: #519a37;
    }

.back-button {
    background-color: #f5f5f5;
    color: #62ad41;
    border: 1px solid #62ad41;
}

    .back-button:hover {
        background-color: #62ad41;
        color: white;
    }

.resend-code {
    display: block;
    color: #62ad41;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

    .resend-code:hover {
        color: #519a37;
    }

.verification-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .verification-right img {
        height: 50%;
        width: auto;
        max-width: 100%;
    }

.sidebar {
    display: none; /* This hides the sidebar */
}

.header-bar {
    display: none; /* Hide the header bar */
}
