<div class="header-container">
    <div class="header-background"></div>
    <div class="header-content">
        <div class="overview">Overview</div>
        <div class="search">
            <div class="search-background"></div>
            <div class="search-text">Search for something</div>
        </div>
        <div class="icons">
            <div class="icon">
                <img class="icon-image" src='../images/image.png'/>
            </div>
            <div class="icon">
                <img class="icon-image" src='../images/notification.svg' />
            </div>
            <div class="icon">
                <img class="icon-image" src='../images/settings-icon.svg' />
            </div>
        </div>
    </div>
</div>
