@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components

@code {
    [CascadingParameter] public string PageTitle { get; set; }
    [Parameter] public EventCallback<string> OnSearch { get; set; }
    private string searchTerm { get; set; } = string.Empty;

    private async Task HandleSearch()
    {
        if (!string.IsNullOrEmpty(searchTerm))
        {
            await OnSearch.InvokeAsync(searchTerm);
        }
    }

    private async Task HandleKeyPress(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            await HandleSearch();
        }
    }
}

<div class="header-container">
    <div class="header-background"></div>
    <div class="header-content">
        <div class="overview">@PageTitle</div>
        <div class="search">
            <div class="search-background"></div>
            <input type="text" @bind="searchTerm" @onkeypress="HandleKeyPress" placeholder="Search for something" />
            <button @onclick="HandleSearch">Search</button>
        </div>
        <div class="icons">
            <div class="icon">
                <NavLink href="profile-page">
                    <img class="icon-image" src='../images/image.png' />
                </NavLink>
            </div>
            <div class="icon">
                <NavLink href="settings-page">
                    <img class="icon-image" src='../images/notification.svg' />
                </NavLink>
            </div>
        </div>
    </div>
</div>