@inherits LayoutComponentBase
@inject NavigationManager Navigation

@code {
    private bool ShouldShowMenus => !Navigation.Uri.Contains("/login") && !Navigation.Uri.EndsWith("/") &&
    !Navigation.Uri.Contains("/create-account") && !Navigation.Uri.Contains("/verify-email");

    private string pageTitle = "Overview";

    public void SetPageTitle(string title)
    {
        pageTitle = title;
        StateHasChanged();
    }

}


@* Include the custom CSS file *@

<CascadingValue Value="pageTitle">
    <CascadingValue Value="(Action<string>)SetPageTitle">
        <div class="page">
            <script src="js/chart-interop.js"></script>

            <div class="content-container">
                <div class="layout">
                    @if (ShouldShowMenus)
                    {
                        <aside class="sidebar">
                            <NavMenu />
                        </aside>
                    }
                    <main class="main-content">
                        @if (ShouldShowMenus)
                        {
                            <header class="header">
                                <HeaderMenu />
                            </header>
                        }

                        <article class="content">
                            @Body
                        </article>
                    </main>
                </div>
            </div>
        </div>
    </CascadingValue>
</CascadingValue>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
