@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using Jamper_Financial.Shared.Services;

@code {
    [CascadingParameter] private Action<bool>? LoadBlazoriseScripts { get; set; }

    private bool ShouldShowMenus => !Navigation.Uri.Contains("/login") && !Navigation.Uri.EndsWith("/") &&
    !Navigation.Uri.Contains("/create-account") && !Navigation.Uri.Contains("/verify-email");

    private string pageTitle = "Overview";

    protected override void OnInitialized()
    {
        LoadBlazoriseScripts?.Invoke(false);
    }

    public void SetPageTitle(string title)
    {
        pageTitle = title;
        StateHasChanged();
    }
}

<CascadingValue Value="pageTitle">
    <CascadingValue Value="(Action<string>)SetPageTitle">
        <div class="page">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
            <script src="js/chart-interop.js"></script>

            <div class="page-container">
                <div class="layout">
                    @if (ShouldShowMenus)
                    {
                        <aside class="sidebar">
                            <NavMenu />
                        </aside>
                    }
                    <main class="main-content">
                        @if (ShouldShowMenus)
                        {
                            <header class="header">
                                <HeaderMenu />
                            </header>
                        }

                        <article class="article-content">
                            @Body
                        </article>
                    </main>
                </div>
            </div>
        </div>
    </CascadingValue>
</CascadingValue>
