@inherits LayoutComponentBase

@* Include the custom CSS file *@
<link href="css/NavMenu.css" rel="stylesheet" />
<link href="css/tailwind.css" rel="stylesheet">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jamper Financial</a>
    </div>
</div>

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

<div class="" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex flex-col space-y-4">
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
        @* <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
        @* </NavLink> *@
        @* </div> *@
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="login"> *@
        @* <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Log in *@
        @* </NavLink> *@
        @* </div> *@
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="create-account"> *@
        @* <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Account *@
        @* </NavLink> *@
        @* </div> *@
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="verify-email"> *@
        @* <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Verify Email *@
        @* </NavLink> *@
        @* </div> *@
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="delete-account"> *@
        @* <span class="bi bi-trash-fill" aria-hidden="true"></span> Delete Account *@
        @* </NavLink> *@
        @* </div> *@
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="calendar-page"> *@
        @* <span class="bi bi-calendar" aria-hidden="true"></span> Calendar Page *@
        @* </NavLink> *@
        @* </div> *@
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="settings"> *@
        @* <span class="bi bi-gear-fill" aria-hidden="true"></span> Settings *@
        @* </NavLink> *@
        @* </div> *@
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="login"> *@
        @* <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Log Out *@
        @* </NavLink> *@
        @* </div> *@
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="dashboard">
                <img src="images/dashboard-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class="text-lg font-medium font-['Inter']">Dashboard</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="transactions">
                <img src="images/transactions-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Transactions</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="budget-insights">
                <img src="images/budget-insights-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Budget Insights</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="receipt-management">
                <img src="images/receipt-management-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class="text-lg font-medium font-['Inter']">Receipt Management</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="saving-goals">
                <img src="images/saving-goals-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Saving Goals</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="debt-tracking">
                <img src="images/debt-tracking-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Debt Tracking</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="calendar-page">
                <img src="images/calendar-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class="text-lg font-medium font-['Inter']">Calendar</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="reports">
                <img src="images/vector.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Reports</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="settings">
                <img src="images/settings.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class="text-lg font-medium font-['Inter']">Settings</div>
            </NavLink>
        </div>
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="login"> *@
        @* <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Log Out *@
        @* </NavLink> *@
        @* </div> *@
    </nav>
</div>


