@inherits LayoutComponentBase

@* Include the custom CSS file *@
<link href="css/NavMenu.css" rel="stylesheet" />
<link href="css/tailwind.css" rel="stylesheet">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jamper Financial</a>
    </div>
</div>

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

<div class="" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex flex-col space-y-4">
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="dashboard-page">
                <img src="images/dashboard-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class="text-lg font-medium font-['Inter']">Dashboard</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="transactions-page">
                <img src="images/transactions-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Transactions</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="budget-insights-page">
                <img src="images/budget-insights-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Budget Insights</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="receipt-management-page">
                <img src="images/receipt-management-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class="text-lg font-medium font-['Inter']">Receipt Management</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="saving-goals-page">
                <img src="images/saving-goals-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Saving Goals</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="debt-tracking-page">
                <img src="images/debt-tracking-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Debt Tracking</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="calendar-page">
                <img src="images/calendar-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class="text-lg font-medium font-['Inter']">Calendar</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="reports-page">
                <img src="images/vector.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class=" text-lg font-medium font-['Inter']">Reports</div>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link flex items-center space-x-2" href="settings-page">
                <img src="images/settings-icon.svg" class="w-6 h-6 " style="padding-right: 6px" />
                <div class="text-lg font-medium font-['Inter']">Settings</div>
            </NavLink>
        </div>
        @* <div class="nav-item"> *@
        @* <NavLink class="nav-link" href="login"> *@
        @* <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Log Out *@
        @* </NavLink> *@
        @* </div> *@
    </nav>
</div>


