html[b-68h8mxf9ff], body[b-68h8mxf9ff] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars from appearing */
    box-sizing: border-box;
}

.calendar-page[b-68h8mxf9ff] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Header Section */
.header[b-68h8mxf9ff] {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    padding: 20px;
    background-color: #D0E8C5;
    border-bottom: 1px solid #d4e8b6;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Add relative positioning */
}

    .header h2[b-68h8mxf9ff] {
        color: #62ad41;
        font-size: 26px;
        margin: 0;
        position: absolute; /* Position the title absolutely */
        left: 20px; /* Align it to the left */
    }

.search-container[b-68h8mxf9ff] {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar[b-68h8mxf9ff] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
    width: 250px;
    font-size: 14px;
}

.filter-button[b-68h8mxf9ff] {
    background-color: #62ad41;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 14px;
}

    .filter-button:hover[b-68h8mxf9ff] {
        background-color: #519a37;
    }

.filter-dropdown[b-68h8mxf9ff] {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 65px; /* Adjust based on your header height */
    left: 1124px;
    z-index: 1000;
    width: 315px; /* Adjust width as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.amount-filter[b-68h8mxf9ff] {
    display: flex;
    justify-content: space-between;
}

    .amount-filter > div[b-68h8mxf9ff] {
        flex: 1;
        margin-right: 10px;
    }

        .amount-filter > div:last-child[b-68h8mxf9ff] {
            margin-right: 0;
        }

.new-transaction[b-68h8mxf9ff] {
    background-color: #62ad41;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    position: absolute; /* Position the button absolutely */
    right: 20px; /* Align it to the right */
}

    .new-transaction:hover[b-68h8mxf9ff] {
        background-color: #519a37;
    }

/* Main Content Section */
.main-content[b-68h8mxf9ff] {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1; /* Take up remaining space */
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 80px); /* Adjust height to fit within viewport minus header */
}

/* Calendar Section */
.calendar-container[b-68h8mxf9ff] {
    flex: 0 0 66.66%; /* 2/3 of the screen */
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent overflow */
    height: 100%; /* Ensure the calendar takes up the full height */
}

.calendar-header[b-68h8mxf9ff] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

    .calendar-header select[b-68h8mxf9ff],
    .calendar-header button[b-68h8mxf9ff] {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-size: 16px;
        margin: 0 5px;
        cursor: pointer;
        background-color: #fff;
        height: 40px; /* Ensure buttons and dropdowns are the same height */
    }

    .calendar-header button[b-68h8mxf9ff] {
        background-color: #ccc;
        color: #444;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .calendar-header button:hover[b-68h8mxf9ff] {
            background-color: #aaa;
        }

.calendar[b-68h8mxf9ff] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 60px); /* Adjust height to fit within container */
}

.day-box[b-68h8mxf9ff] {
    width: calc(100% / 7 - 4px); /* Adjust width to fit within container */
    height: 150px; /* Increased height for taller calendar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

    .day-box.selected[b-68h8mxf9ff] {
        background-color: #FFD700; /* Gold color for selected date */
    }

    .day-box.greyed-out[b-68h8mxf9ff] {
        background-color: #f0f0f0;
        color: #aaa;
    }

/* Transaction Dots */
.transaction-dots[b-68h8mxf9ff] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.transaction-dot-container[b-68h8mxf9ff] {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.transaction-dot[b-68h8mxf9ff] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.transaction-description[b-68h8mxf9ff] {
    font-size: 12px;
}

/* Transaction Details Section */
.transaction-details[b-68h8mxf9ff] {
    flex: 1;
    overflow-y: auto; /* Add scroll if content overflows */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%; /* Ensure the transaction details take up the full height */
}

.transaction-details-header[b-68h8mxf9ff] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

    .transaction-details-header h3[b-68h8mxf9ff] {
        font-size: 18px;
        margin: 0;
    }

    .transaction-details-header .transaction-date[b-68h8mxf9ff] {
        font-weight: bold;
        margin-top: 5px;
    }

    .transaction-details-header select[b-68h8mxf9ff] {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        background-color: #fff;
        height: 40px; /* Ensure dropdown is the same height as others */
    }

.transaction-item[b-68h8mxf9ff] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    position: relative; /* Add this to position the edit button */
}

    .transaction-item.selected-transaction[b-68h8mxf9ff] {
        background-color: #FFD700; /* Highlight color for selected date transactions */
    }

    .transaction-item h4[b-68h8mxf9ff] {
        margin: 0;
        color: #6C63FF;
    }

    .transaction-item p[b-68h8mxf9ff] {
        margin: 2px 0;
        color: #555;
    }

    .transaction-item .description[b-68h8mxf9ff] {
        color: inherit; /* Inherit color from parent */
    }

    .transaction-item .positive-amount[b-68h8mxf9ff] {
        color: green;
    }

    .transaction-item .negative-amount[b-68h8mxf9ff] {
        color: red;
    }

    .transaction-item button[b-68h8mxf9ff] {
        background-color: #62ad41; /* Green color */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 14px;
        position: absolute; /* Position the button absolutely */
        right: 10px; /* Align it to the right */
        top: 50%; /* Center it vertically */
        transform: translateY(-50%); /* Adjust for perfect centering */
    }

        .transaction-item button:hover[b-68h8mxf9ff] {
            background-color: #519a37; /* Darker green on hover */
        }

/* Modal */
.modal[b-68h8mxf9ff] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content[b-68h8mxf9ff] {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form Group */
.form-group[b-68h8mxf9ff] {
    margin-bottom: 10px;
}

    .form-group label[b-68h8mxf9ff] {
        display: block;
        margin-bottom: 5px;
        color: #444;
        font-size: 14px;
    }

    .form-group input[b-68h8mxf9ff],
    .form-group select[b-68h8mxf9ff] {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-size: 14px;
    }

/* Modal Buttons */
.modal-content .button-group[b-68h8mxf9ff] {
    display: flex;
    justify-content: space-between;
}

    .modal-content .button-group button[b-68h8mxf9ff] {
        flex: 1;
        margin: 0 5px;
    }

        .modal-content .button-group button.delete[b-68h8mxf9ff] {
            order: 1;
            margin-right: auto;
        }

        .modal-content .button-group button.cancel[b-68h8mxf9ff] {
            order: 2;
        }

        .modal-content .button-group button.save[b-68h8mxf9ff],
        .modal-content .button-group button.add[b-68h8mxf9ff] {
            order: 3;
            margin-left: auto;
        }

.modal-content .form-group button[b-68h8mxf9ff] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

    .modal-content .form-group button.save[b-68h8mxf9ff],
    .modal-content .form-group button.add[b-68h8mxf9ff] {
        background-color: #62ad41;
        color: white;
    }

        .modal-content .form-group button.save:hover[b-68h8mxf9ff],
        .modal-content .form-group button.add:hover[b-68h8mxf9ff] {
            background-color: #519a37;
        }

    .modal-content .form-group button.cancel[b-68h8mxf9ff] {
        background-color: #ccc;
        color: white;
    }

        .modal-content .form-group button.cancel:hover[b-68h8mxf9ff] {
            background-color: #aaa;
        }

    .modal-content .form-group button.delete[b-68h8mxf9ff] {
        background-color: #db4437;
        color: white;
    }

        .modal-content .form-group button.delete:hover[b-68h8mxf9ff] {
            background-color: #c33c2f;
        }

/* Filter Modal Buttons */
.filter-dropdown .button-group[b-68h8mxf9ff] {
    display: flex;
    justify-content: flex-end;
}

    .filter-dropdown .button-group button[b-68h8mxf9ff] {
        flex: 1;
        margin: 0 5px;
    }

        .filter-dropdown .button-group button.cancel[b-68h8mxf9ff] {
            order: 1;
        }

        .filter-dropdown .button-group button.apply[b-68h8mxf9ff] {
            order: 2;
            margin-left: auto;
        }

    .filter-dropdown .button-group button[b-68h8mxf9ff] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 10px;
    }

        .filter-dropdown .button-group button.apply[b-68h8mxf9ff] {
            background-color: #62ad41;
            color: white;
        }

            .filter-dropdown .button-group button.apply:hover[b-68h8mxf9ff] {
                background-color: #519a37;
            }

        .filter-dropdown .button-group button.cancel[b-68h8mxf9ff] {
            background-color: #ccc;
            color: white;
        }

            .filter-dropdown .button-group button.cancel:hover[b-68h8mxf9ff] {
                background-color: #aaa;
            }
