.vs/*
Debug/
Release/
*.editorconfig
/Jamper-Financial.Shared/obj
/Jamper-Financial.Shared/obj/Debug
/Jamper-Financial.Shared/obj/Debug/net9.0
/.vs/Jamper-Financial/CopilotIndices
/Jamper-Financial./obj
/Jamper-Financial.Web/obj
