<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Jamper Financial | @pageTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Jamper-Financial.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Jamper-Financial.Shared/app.css" />
    <link rel="stylesheet" href="Jamper-Financial.Web.styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
    <link rel="icon" type="image/png" href="_content/Jamper-Financial.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="js/chart-interop.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    private string pageTitle = "Home"; // Define the pageTitle variable
}
