<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Jamper Financial | @pageTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/Jamper-Financial.Web.styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
    <script type="module" src="/js/firebase-auth.js"></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <CascadingValue Value="pageTitle">
        <CascadingValue Value="SetPageTitle">
            <Routes @rendermode="InteractiveServer" />
        </CascadingValue>
    </CascadingValue>
    <script src="/js/chart-interop.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    private string pageTitle = "Home";

    private void SetPageTitle(string title)
    {
        pageTitle = title;
        StateHasChanged();
    }
}
