@namespace Jamper_Financial.Shared.Pages.profileSettings

<div class="about">
    <h4>About</h4>
    <div class="about-content">
        <p>
            Jamper Financial is a personal finance management application that helps you track your expenses, income, and savings. It also helps you set financial goals and budgets to achieve your financial dreams.
        </p>
        <p>
            We are a team of passionate developers who believe that everyone should have access to financial tools that help them manage their money better. We are constantly working on improving the app and adding new features to make it more useful for you.
        </p>
        <p>
            If you have any feedback or suggestions, please feel free to contact us. We would love to hear from you!
        </p>
    </div>
    <h4>Support</h4>
    <div class="support-content">
        <p>
            If you have any questions or need help with the app, please check out our <a href="https://jamperfinancial.com/help" target="_blank">Help Center</a>. You can also contact us directly at <a href="mailto:jamper@mail.com">jamper@mail.com</a>
        </p>
    </div>
    <footer>
        <p>
            <a href="https://jamperfinancial.com/terms-of-use" target="_blank">Terms of Use</a> |
            <a href="https://jamperfinancial.com/privacy-policy" target="_blank">Privacy Policy</a>
        </p>
        <p>&copy; 2025 Jamper Financial. All rights reserved.</p>
    </footer>
</div>

