@page "/profile-management"
@namespace Jamper_Financial.Shared.Pages.profileSettings
@using Jamper_Financial.Shared.Data
@using Jamper_Financial.Shared.Services
@inject IUserService UserService
@using Jamper_Financial.Shared.Models
@inject UserStateService UserStateService

@code {
    private UserProfile userProfile = new UserProfile();

    protected override async Task OnInitializedAsync()
    {
        // Get the logged-in user's ID and username from the UserStateService
        int userId = UserStateService.UserId;
        string username = UserStateService.Username;

        if (userId > 0)
        {
            userProfile = await UserService.GetUserProfileByIdAsync(userId);
        }
        else
        {
            // Handle the case where the user is not logged in
            // For example, redirect to the login page
        }
    }
}

@if (userProfile != null)
{
<div class="profile-management">
    <div class="country">
        <label class="text">Country</label>
        <div class="box" style="top: 30px;">
            <input type="text" class="sub-text" @bind="userProfile.Country" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="postal-code">
        <label class="text">Postal Code</label>
        <div class="box" style="top: 30px;">
            <input type="text" class="sub-text" @bind="userProfile.PostalCode" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="city">
        <label class="text">City</label>
        <div class="box" style="top: 30px;">
            <input type="text" class="sub-text" @bind="userProfile.City" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="permanent-address">
        <label class="text">Permanent Address</label>
        <div class="box" style="top: 30px;">
            <input type="text" class="sub-text" @bind="userProfile.Address" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="present-address">
        <label class="text">Present Address</label>
        <div class="box" style="top: 30px;">
            <input type="text" class="sub-text" @bind="userProfile.Address" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="date-of-birth">
        <label class="text">Date of Birth</label>
        <div class="box" style="top: 30px;">
            <input type="text" class="sub-text" @bind="userProfile.Birthday" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="password">
        <label class="text">Password</label>
        <div class="box" style="top: 30px;">
            <input type="password" class="sub-text" @bind="userProfile.Password" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="email">
        <label class="text">Email</label>
        <div class="box" style="top: 30px;">
            <input type="email" class="sub-text" @bind="userProfile.Email" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="user-name">
        <label class="text">User Name</label>
        <div class="box" style="top: 30px;">
            <input type="text" class="sub-text" @bind="userProfile.Username" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="your-name">
        <label class="text">Your Name</label>
        <div class="box" style="top: 30px;">
            <input type="text" class="sub-text" @bind="userProfile.FirstName" style="border: none; outline: none; width: 100%;" />
        </div>
    </div>
    <div class="profile-picture">
        <div>
            <div style="background: #C4C4C4; border-radius: 9999px"></div>
            <img src="https://via.placeholder.com/130x130" />
        </div>
        <div class="edit-icon">
            <div></div>
        </div>
    </div>
    <div class="save-button">
        <div class="save-button-box"></div>
        <div class="save-button-text" style="left: 74px; top: 14px;">Save</div>
    </div>
</div>
}
else
{
    <p>Loading...</p>
}